  html,body{
    
    height:100%;
    color: #222;
  }

.container,body{
  background-color:#fbfbf8;
}

.box {
  background-color:#ffffff;
  color: #222;
}

h1 {
  color: black;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}



.italic {
  font-style: italic;
}

/*body {
  margin: 0;
  padding: 5px;
}*/



.navbar {
  margin-bottom: 10px;
  border-bottom: solid;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
    margin-bottom: 0;
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li .nav-logo {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
  background-color:#eee;
}

.maxheight {

  height:100%;
}

.textarea{
  height:90%;
}

.twothird{
  height:70%;
}

.onethird{
  height:20%;
}

.publication{
  display:block;
  float: right;
  
}

#content,#app {
  
height: 90%;
 margin: auto;
}

#title {
  font-weight: bold;
}

#editor {
  height: 80%;
  margin: auto;
  }

/*#edittitle,#editcontent {
  display: block;
  width:100%;
  }
  */
/*.editvers {
  
  margin:0 0em;
  width:92%;
  }*/
  
.is-left{
  justify-content:  left;
  }

.verslien{
  text-align:right;
  font-style:italic;
  font-size: 0.8em;
}

.percent{
  position:relative;
  text-align:right;
  font-style:italic;
  font-size: 0.8em;
  top:-1em;
}


span.num {
  padding:3px;
  z-index:-1;
  color: #c6afaf;
  right: -0.5em;
  font-size: 0.8em;
}


#edittitle {
font-weight: bold;
}

#realcontent {
  display: inline-block;
  width: 45%;
  overflow: hidden;
  resize: none;
  }

#versVoisin {
  display: inline-block;
  width: 45%;
  overflow: hidden;
  resize: none;
  }
  
#rowsNb { 
  height: 100%;
  overflow: hidden;
  resize: none;
  }
  
.vers {
  padding:0.1em 0.3em;
  min-height: 1em;
}

.plus {
  padding-left:3em;

}
.forme {
  font-style: italic;
  font-size: 0.8em;
}

.comment{
  padding: 0px;
  font-style: italic;
  height:50%;
  }
  
.premierVers {
  font-size: 0.8em;
  font-style: italic;
}

.hidden {
  display: none;
}
